# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Django SQLite database
website/db.sqlite3

# Media files (uploads)
website/media/

# Static files (generated)
static/

# Logs
*.log

# PyCharm
.idea/

# VSCode
.vscode/

#model
**/ResNet50Custom.pkl

#other files
website/testiki/